.wrapper {
    display: flex;
    width: 100%;
    padding: 24px;
    background-color: #fff;
    border-radius: 8px;
    justify-content: space-between;
}

.film {
    display: flex;
    gap: 24px;
}
.img {
    width: 100px;
    height: 120px;
    border-radius: 8px;
    object-fit: cover;
}

.info {
    display: flex;
    flex-direction: column;
}

.link {
    text-decoration: none;
    color: #1b1f23;
}

.title {
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
}

.description {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    gap: 12px;
}

.description__wrapper {
    display: flex;
    gap: 16px;
}
.description__subtitle {
    min-width: 90px;
}

.description__subinfo {
    width: 100%;
    max-width: 600px;
}

.subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #ababab
}

.subinfo {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #1b1f23
}